.cart-table {
    border: 0.2em solid black;
    border-radius: 1.2em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2em;
    margin-bottom: 1em;
}

.product-row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    /* background-color: rgb(176, 195, 212); */
}

.cart-header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: unset;
    font-weight: bold;
}

.product-row>* {
    margin-top: 2em;
}

.shopping-header {
    margin-bottom: 1em;
}

.values {
    display: flex;
    flex-direction: row;
}

.cart-product-name {
    width: 6em;
}

.cart-header .spacer {
    width: 7em;
}

.product-row .spacer {
    width: 5em;
}

.product-row .spacer-2 {
    width: 8.5em;
}

.product-row .spacer-3 {
    width: 9em;
}

.header {
    width: 4em;
}

.cart-table>* {
    border-bottom: 2px solid black;
}