.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    justify-items: center;
    gap: 30px;
    width: 100%;
}

/* .header {
    font-size: 2.2em;
    color: rgb(76, 35, 35);
    font-weight: 600;
} */

.products-container {
    background-color: rgb(238, 238, 238);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}

.products-container {
    background-color: rgb(243, 243, 243);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5em;
}

.products-container>* {
    border-radius: 2em;
}

.filters {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(61, 80, 103, 0.071);
    font-weight: bold;
    color: rgb(76, 35, 35);
    border-radius: 1em;
    padding: 2em;
    padding-bottom: 0;
    margin-top: -2em;
    margin-bottom: 3em;
    /* width: 100%; */
    max-width: fit-content;
}