.category-menu {
    display: flex;
    flex-direction: row;
    margin-bottom: 2em;
}

.category-menu p {
    font-size: 1.2em;
    font-weight: 500;
    cursor: pointer;
    border: 3px solid rgb(91, 89, 91);
    color: rgb(91, 89, 91);
    padding: 0.8em;
    margin: 0 0.2em;
    border-radius: 2em;
}